@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/StyleSheet.css">
<div class="jumbotron" style="text-align:center">
    <h1> <img src="~/images/Иконка.png" width="150" height="150">Artiste приветствует вас</h1>
    <p class="lead">Мы всегда рады видеть новых гостей</p>
    <p class="lead">@ViewBag.Message1</p>
    <p class="lead">
        <a href="@Url.Action("LogOut", "Home")"> @ViewBag.Message2 </a>
</div>

<div class="row" >
    <div class="card" style="margin: 0 auto; border-radius: 10%;">

        <div class="card_part card_part-one">
        </div>

        <!-- Photo 2 -->
        <div class="card_part card_part-two">

        </div>

        <!-- Photo 3 -->
        <div class="card_part card_part-three">
        </div>

        <!-- Photo 4 -->
        <div class="card_part card_part-four">
        </div>

    </div>
    
</div>